<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.cmacica.optimusmovil">

    <!-- Red -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Autenticación -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Sincronización -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Optimus">

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ACTIVIDAD DE INSERCIÓN -->
        <!-- PROVIDER -->
        <provider
            android:name=".provider.ProviderDeProducto"
            android:authorities="@string/provider_authority"
            android:exported="false"
            android:syncable="true" />
        <!-- SERVICIO DE AUTENTICACIÓN -->
        <service android:name=".sync.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- SERVICIO DE SINCRONIZACIÓN -->
        <service
            android:name=".sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <activity
            android:name=".View.InsertActivity"
            android:label="@string/title_activity_insert"
            android:theme="@style/Theme.Optimus"></activity>
    </application>

</manifest>
